{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <div class="card">
    <div class="card-content">
      {% if leaderboard_data %}
      <div class="card-title title center">
        Leaderboard for {{ leaderboard_data.date }}
      </div>
      <span class="left">
        <a href="{% url 'leaderboard_specific_day_view' yesterday %}">Yesterday</a>
      </span>
      <span class="right">
        <a href="{% url 'leaderboard_specific_day_view' tomorrow %}">Tomorrow</a>
      </span>
      <br>

      <div class="row">
        <div class="col s6">
          <div class="card-title">
            Minutes Streamed:
            <table class="highlight">
              <thead>
                <tr>
                    <th data-field="index"> </th>
                    <th data-field="minutes">Minutes</th>
                    <th data-field="streamer">Streamer</th>
                </tr>
              </thead>

              <tbody>
                {% for leader in leaderboard_data.minutes_leaders.all %}
                <tr>
                  <td>{{ forloop.counter }}.</td>
                  <td>{{ leader.minutes }}</td>
                  <td><a href="https://livecoding.tv/{{ leader.livetvusername }}" target="_blank">{{ leader.livetvusername }}</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        </div>
        <div class="col s6">
          <div class="card-title">
            Average Viewers:
            <table class="highlight">
              <thead>
                <tr>
                    <th data-field="index"> </th>
                    <th data-field="minutes">Avg Viewers</th>
                    <th data-field="streamer">Streamer</th>
                </tr>
              </thead>

              <tbody>
                {% for leader in leaderboard_data.viewers_leaders.all %}
                <tr>
                  <td>{{ forloop.counter }}.</td>
                  <td>{{ leader.minutes }}</td>
                  <td><a href="https://livecoding.tv/{{ leader.livetvusername }}" target="_blank">{{ leader.livetvusername }}</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        </div>
        <div class="col s6">

        </div>
      </div>
      {% else %}
      <div class="card-title title center">
        No leaderboard data for requested day
      </div>
      <span class="left">
        <a href="{% url 'leaderboard_specific_day_view' yesterday %}">Yesterday</a>
      </span>
      <span class="right">
        <a href="{% url 'leaderboard_specific_day_view' tomorrow %}">Tomorrow</a>
      </span>
      <br>
      {% endif %}
    </div>
  </div>
{% endblock %}

