{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <div class="card">
    <div class="card-content">
      <div class="card-title title center">
        Leaderboard for {{ yesterday }}
      </div>
      <div class="row">
        <div class="col s6">
          <div class="card-title">
            Minutes Streamed:
            <table class="highlight">
              <thead>
                <tr>
                    <th data-field="index"> </th>
                    <th data-field="streamer">Streamer</th>
                    <th data-field="minutes">Minutes</th>
                </tr>
              </thead>

              <tbody>
                {% for minutes, user in leaderboard_data.minutes_streamed %}
                <tr>
                  <td>{{ forloop.counter }}.</td>
                  <td>{{ minutes }}</td>
                  <td><a href="https://livecoding.tv/{{ user }}" target="_blank">{{ user }}</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        </div>
        <div class="col s6">
          <div class="card-title">
            Average Viewers:
            <table class="highlight">
              <thead>
                <tr>
                    <th data-field="index"> </th>
                    <th data-field="streamer">Streamer</th>
                    <th data-field="minutes">Avg Viewers</th>
                </tr>
              </thead>

              <tbody>
                {% for minutes, user in leaderboard_data.average_viewers %}
                <tr>
                  <td>{{ forloop.counter }}.</td>
                  <td>{{ minutes }}</td>
                  <td><a href="https://livecoding.tv/{{ user }}" target="_blank">{{ user }}</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        </div>
        <div class="col s6">

        </div>
      </div>
    </div>
  </div>
{% endblock %}

