{% extends 'dashboard.html' %}
{% load staticfiles %}

{% block content %}
<div class="card">
  <div class="card-content">
    <span class="card-title">{% trans "Daily Breakdown" %}</span>
    <br>
    {% if admin_viewing %}
    <a href="{% url 'admin_peek_list_view' admin_viewing_user %}">{% trans "Back to History" %}</a>
    {% else %}
    <a href="{% url 'history_list_view' %}">{% trans "Back to History" %}</a>
    {% endif %}

    <div id="historyGraph"></div>
    <table>
      <thead>
        <tr>
          <th>{% trans "Average Viewers" %}</th>
          <th>{% trans "Max Viewers" %}</th>
          <th>{% trans "Minutes Streamed" %}</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>{{ breakdown.mean }}</td>
          <td>{{ breakdown.max }}</td>
          <td>{{ breakdown.minutes }}</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>{% trans "Title" %}</th>
          <th>{% trans "Duration" %}</th>
          <th>{% trans "Viewers Overall" %}</th>
        </tr>
      </thead>

      <tbody>
        {% for vid in videos %}
        <tr>
          <td><a href="https://livecoding.tv/video/{{ vid.slug }}" target="_blank">{{ vid.title }}</a></td>
          <td>{{ vid.duration }}s</td>
          <td>{{ vid.viewers_overall }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="application/javascript">
  $(document).ready(function() {
    var layout = {
      yaxis: {
        range: [0, {{ max_y }} * 1.1],
      }
    };

    var meanYData=[],b={{ y_data }}.length;while(b--)meanYData[b]={{ breakdown.mean }};
    var data = [{
      x: {% autoescape off %}{{ x_data }}{% endautoescape %},
      y: {{ y_data }},
      type: 'bar',
      mode: 'lines',
      name: 'User Count'
    }, {
      x: {% autoescape off %}{{ x_data }}{% endautoescape %},
      y: meanYData,
      mode: 'lines',
      name: "Mean"
    }];
    var graphDiv = Plotly.newPlot('historyGraph', data, layout, {displayModeBar: false});
  });
</script>
{% endblock %}

