{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="card">
  <div class="card-content">
    <span class="card-title">Daily Breakdown</span>
    <br>
    <a href="{% url 'dashboard_view' %}">Back to Live Dashboard</a>
    <div id="historyGraph"></div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/plotly-latest.min.js' %}"></script>
<script type="application/javascript">
  $(document).ready(function() {
    var data = [{
      x: {% autoescape off %}{{ x_data }}{% endautoescape %},
      y: {{ y_data }},
      type: 'scatter',
      mode: 'lines',
      name: 'History'
    }];
    var graphDiv = Plotly.newPlot('historyGraph', data);
  });
</script>
{% endblock %}

