{% extends 'base.html' %}

{% block content %}
  <div class="card">
    <div class="card-content">
      <div class="card-title">Login</div>
      <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn waves-effect waves-light dark-primary-color" type="submit" name="action">Login
        </button>

      </form>
      <div class="card-action">
        Click here to <a href="{% url 'account_create' %}">sign up</a>
      </div>
    </div>
  </div>
{% endblock %}
