<table>
  <thead>
    <tr>
        <th>Date</th>
        <th>Average Viewers</th>
        <th>Max Viewers</th>
        <th>Minutes Streamed</th>
    </tr>
  </thead>

  <tbody>
    {% for day in daily_breakdown %}
      <tr>
        {% if admin_viewing %}
        <td><a href="{% url 'admin_peek_detail_view' admin_viewing_user day.day %}">{{ day.day }}</a></td>
        {% else %}
        <td><a href="{% url 'history_detail_view' day.day %}">{{ day.day }}</a></td>
        {% endif %}
        <td>{{ day.mean }}</td>
        <td>{{ day.max }}</td>
        <td>{{ day.minutes }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
