{% extends 'base.html' %}
{% load staticfiles %}

{% block extracss %}
  <style>
    header, main, footer {
      padding-left: 200px;
    }
    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
      #nav-mobile {
        width: 0px;
      }
    }
    ul.side-nav.fixed li a {
        font-size: 13px;
        line-height: 44px;
        height: 44px;
    }
    ul.side-nav.fixed li.logo {
        background: #607D8B;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    }
    .side-nav {
        box-shadow: none;
    }
    .container {
      width: 90%;
    }
    ul.side-nav.fixed li.logo {
      text-align: center;
      padding-top: 4px;
    }
    #logo-container {
        height: 60px;
        margin-bottom: 32px;
    }
  </style>
{% endblock %}

{% block sidebar %}
  <ul id="nav-mobile" class="side-nav fixed " style="width: 200px; left: 0px;">
    <li class="logo"><a id="logo-container" href="/" class="brand-logo white-text"><i class="material-icons medium">insert_chart</i></a></li>
    {% if request.user.userprofile.is_authorized %}
      <li class="bold"><a href="{% url 'live_view' %}" class="waves-effect waves-black"><i class="tiny material-icons">videocam</i> Live</a></li>
      <li class="bold"><a href="{% url 'history_list_view' %}" class="waves-effect waves-black"><i class="tiny material-icons">library_books</i> History</a></li>
      <li class="bold"><a href="{% url 'history_followers_view' %}" class="waves-effect waves-black"><i class="tiny material-icons">person_pin</i> Followers</a></li>
    {% endif %}
    <li class="bold"><a href="{% url 'account_verify' %}"><i class="tiny material-icons">settings_input_composite</i> API Link</a></li>
    <li class="bold"><a href="{% url 'live_view' %}"><i class="tiny material-icons">lock</i> Change Password</a></li>
    <li class="bold"><a href="{% url 'timezone_view' %}"><i class="tiny material-icons">query_builder</i> Change Timezone</a></li>
    <li class="bold"><a href="{% url 'notification_list_view' %}" class="waves-effect waves-black"><i class="tiny material-icons">announcement</i> Alerts <span class="badge default-primary-color white-text" id="alertSpan"></span></a></li>
    <li class="bold"><a href="{% url 'leaderboard_daily_view' %}" class="waves-effect waves-black"><i class="tiny material-icons">trending_up</i> Leaderboard</a></li>
    <li class="bold"><a href="{% url 'logout' %}?next=/" class="waves-effect waves-black"><i class="tiny material-icons">replay</i> Logout</a></li>
  </ul>
{% endblock %}

{% block dashboardscript %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('.collapsible').collapsible();
      $('.button-collapse').sideNav()
      $.getJSON("/api/notifications/", function(response) {
        if (response) {
          $("#alertSpan").text(response);
        }
      });
    });

  </script>
{% endblock %}
