{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
        <div class="card">
          <div class="card-content">
            <br><br>
            <h1 class="header center title">LCTVA</h1>
            <div class="row center">
              <h5 class="header col s12 light">Analytics Dashboard for Livecoding.tv</h5>
            </div>
            <br>
            <div class="row center">
              {% if request.user.id %}
                <a href="{% url 'dashboard_view' %}" id="download-button" class="btn-large waves-effect default-primary-color">Dashboard</a>
              {% else %}
                <a href="{% url 'login' %}" id="download-button" class="btn-large waves-effect default-primary-color">Login</a>
                <br><br>
                or <a href="{% url 'account_create' %}">Sign Up</a>
              {% endif %}
            </div>
            <br>

    <div class="section">

      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center primary-text-color"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Real Time Analytics</h5>

            <p class="light">After you're verified the app will automatically pick up your stream and start displaying
            your user counts on your dashboard (barring a few page refreshes).</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center primary-text-color"><i class="material-icons">group</i></h2>
            <h5 class="center">Browse Historic Data</h5>

            <p class="light">Your viewer counts are stored for further analysis. What kind of analysis? That hasn't
            been decided yet - but you can count on the fact that you'll be able to learn something from your viewer numbers!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center primary-text-color"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to configure</h5>

            <p class="light">A simple 2 step process is the only thing keeping you from seeing a real time graph of
            user counts on your stream.  Just put a small token in your stream description and click a button and you're verified.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
    </div>
  </div>
{% endblock %}

