{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
  <div class="card">
    <div class="card-content">
      <br><br>
      <h1 class="header center title">LCTVA</h1>
      <div class="row center">
        <h5 class="header col s12 light">{% trans "Analytics Dashboard for Livecoding.tv" %}</h5>
      </div>
      <br>
      <div class="row center">
        {% if request.user.id %}
        <a href="{% url 'live_view' %}" id="live-button" class="btn-large waves-effect default-primary-color">{% trans "Live Dashboard" %}</a>
        {% else %}
        <a href="{% url 'authorize_api_view' %}" id="login-button" style="height: 104px;" class="btn-large waves-effect default-primary-color">{% trans "Login with Livecoding.tv" %} <br/><img src="{% static 'lctv-logo.png' %}" alt="lctv-logo"></a>
        {% endif %}
      </div>
      <br>

    <div id="myDiv"></div>


    <div class="section">

      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center primary-text-color"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">{% trans "Real Time Analytics" %}</h5>

            <p class="light">{% blocktrans %}After you're verified the app will automatically pick up your stream and start displaying your user counts on your dashboard (barring a few page refreshes).{% endblocktrans %}</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center primary-text-color"><i class="material-icons">group</i></h2>
            <h5 class="center">{% trans "Browse Historic Data" %}</h5>

            <p class="light">{% blocktrans %}Your viewer counts are stored for further analysis. What kind of analysis? That hasn't been decided yet - but you can count on the fact that you'll be able to learn something from your viewer numbers!{% endblocktrans %}</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center primary-text-color"><i class="material-icons">settings</i></h2>
            <h5 class="center">{% trans "Livecoding.tv API Integrated" %}</h5>

            <p class="light">{% blocktrans %}You are just a few clicks away from tracking your stream. No crazy forms to fill out, don't give us permission to your first born - just authorize the app to track your stream with livecoding.tv and you're set!{% endblocktrans %}</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <script type="application/javascript">
    $( document ).ready(function() {

      var data = [];
      var graphDiv = Plotly.newPlot('myDiv', data, {title: '{% trans "Total Viewers on livecoding.tv (UTC)" %}'}, {displayModeBar: false});
      var getData = function(graphDiv){
        $.get( "/api/viewer_graph/", function(inData) {
          var data = [{
            x: inData.dataX,
            y: inData.dataY,
            mode: 'bar',
            name: '{% trans "Viewers" %}',
            showLink: false
          }];
          var yLimit = inData.maxY;
          var graphDiv = document.getElementById('myDiv');
          graphDiv.data = data;
          Plotly.redraw(graphDiv);
          Plotly.relayout(graphDiv, {yaxis: { range: [0, yLimit * 1.1], autorange: false }});
          setTimeout(function(){
            getData(graphDiv);
          }, 10000);
        });
      }
      getData(graphDiv);
    });
  </script>
{% endblock %}
