{% extends 'dashboard.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
      <div class="card">
        <div class="card-content">
          <div class="card-title">
            {{ request.user.userprofile.livetvusername }}
          </div>
          {% if max_viewer_count %}
            <ul class="collection">
              <li class="collection-item">
                {% trans "Current Viewers" %}: <span class="current_viewers">{{ current_node.current_total }}</span>
              </li>
              <li class="collection-item">
                {% trans "Max Viewers" %}: (8 min limit): <span class="max_viewer_count">{{ max_viewer_count }}</span>
              </li>
              <li class="collection-item">
                {% trans "Trending Up" %}: <span class="trending">{{ trending }}</span>
              </li>
            </ul>
          </div>
          <div id="frontpaged" class="center"></div>
          <div class="container">
            <input type="checkbox" id="toggleTotalSiteViewers" />
            <label for="toggleTotalSiteViewers">{% trans "Hide Total Livecoding.tv Viewers" %}</label>
          </div>
          <div id="myDiv"></div>

          {% else %}
          <p>{% blocktrans %}You don't appear to be streaming right now. If you begin streaming, give this page a refresh and you should start seeing your live numbers stream in.{% endblocktrans %}</p>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  {% if max_viewer_count %}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <script type="application/javascript">
    $( document ).ready(function() {

      var data = [];

      var graphDiv = Plotly.newPlot('myDiv', data, {}, {displayModeBar: false});
      var getData = function(graphDiv){
        var hideSiteViewers = $('#toggleTotalSiteViewers').is(":checked");
        $.get( "/api/graph/", function(inData) {
          var data = [{
            x: inData.dataX,
            y: inData.dataY,
            type: 'scatter',
            mode: 'lines',
            name: '{% trans "User Counts" %}',
            showLink: false
          }];
          if (hideSiteViewers){
            var yLimit = inData.maxY;
          } else {
            var yLimit = inData.maxSiteY;
            data.push({
              x: inData.dataX,
              y: inData.siteY,
              type: 'scatter',
              mode: 'lines',
              name: '{% trans "Livecoding.tv Total Users" %}',
              showLink: false
            });
          }
          var graphDiv = document.getElementById('myDiv');
          graphDiv.data = data;
          Plotly.redraw(graphDiv);
          Plotly.relayout(graphDiv, {yaxis: { range: [0, yLimit * 1.1], autorange: false }});
          $(".current_viewers").html(inData.current_count);
          $(".max_viewer_count").html(inData.maxY);
          $(".trending").html(inData.trending);
          if (inData.frontpaged) {
            $("#frontpaged")[0].innerHTML = '{% trans "Congrats! You are currently on the livecoding.tv front page!" %}';
          } else {
            $("#frontpaged")[0].innerHTML = "";
          }
          setTimeout(function(){
            getData(graphDiv);
          }, 5000);
        });
      }
      getData();
    });
  </script>
  {% endif %}
{% endblock %}
