{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row">
    <div class="card">
      <div class="card-content">
        <div class="card-title">
          Read
        </div>
        <p>Since livecoding.tv's API is in beta they are encountering a number
        of little bugs that we have to work through.  One of those bugs is
        currently affecting our ability to authenticate with their service.  I
        have filled a support ticket and hope it is taken care of quicky.
        Thanks for your patience.</p>
        <p class="red text">If you have already verified in the old "token=" way, you shouldn't see any issues - but if you're a new user who has not authenticated with livecoding.tv's API - you may have to wait a few hours.</p>
      </div>
    </div>
  </div>

  {% if request.user.userprofile.verified %}
    {% if not request.user.userprofile.is_authorized %}
      <div class="row">
        <div class="card">
          <div class="card-content">
            <div class="card-title">
              IMPORTANT NOTICE!
            </div>
            <p>LCTVA is migrating over to the Livecoding.tv API!!! So what does this mean?</p>
            <blockquote>1. This means that you can completely remove the "lctva=" token from your description.<br/>
              2. You NEED to link your LCTVA account to the Livecoding.tv API asap. This is a very easy process. Just <a href="{% url 'account_verify' %}">click this link </a> and follow the steps. <br>
              3. This notification will go away after you've verified with the Livecoding.tv API. </blockquote>
            <p class="red-text">If you see a 502 Cloudflare error when trying to integrate, it's because Livecoding.tv is having issues. Not me!!!</p>
          </div>
        </div>
      </div>
      {% endif %}
    <div class="row">
      <div class="card">
        <div class="card-content">
          <div class="card-title">
          {{ request.user.userprofile.livetvusername }} live analytics:
          </div>
          {% if request.user.userprofile.active %}
                <ul class="collection">
                  <li class="collection-item">
                    Current Viewers: <span class="current_viewers">{{ current_node.current_total }}</span>
                  </li>
                  <li class="collection-item">
                    Max Viewers (8 min limit): <span class="max_viewer_count">{{ max_viewer_count }}</span>
                  </li>
                  <li class="collection-item">
                    Trending Up? <span class="trending">{{ trending }}</span>
                  </li>
                </ul>
              </div>
            <div id="frontpaged" class="center"></div>
            <div id="myDiv"></div>
            <div id="percentPieGraph" class="center"></div>
          {% else %}
            <p>You aren't currently streaming. Start streaming and the app will find you in a minute. (refresh a few times maybe)</p>
            {% include 'includes/daily_breakdown_table.html' %}
          {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %}
    <div class="row">
      <div class="card">
        <div class="card-content">
          <div class="card-title">
            IMPORTANT NOTICE!
          </div>
          <p>LCTVA is migrating over to the Livecoding.tv API!!! So what does this mean?</p>
          <blockquote>1. This means that you can completely remove the "lctva=" token from your description.<br/>
            2. You NEED to link your LCTVA account to the Livecoding.tv API asap. This is a very easy process. Just <a href="{% url 'account_verify' %}">click this link </a> and follow the steps. <br>
            3. This notification will go away after you've verified with the Livecoding.tv API. </blockquote>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block script %}
  {% if request.user.userprofile.active %}
  <script src="{% static 'js/plotly-latest.min.js' %}"></script>
  <script type="application/javascript">
    $( document ).ready(function() {

      var createPieGraph = function() {
        var data = [{
          values: [{{ current_node.current_total }}, {{ current_node.total_site_streamers }}],
          labels: ['You', 'Livecoding.tv'],
          type: 'pie'
        }];

        var layout = {
          height: 400,
          width: 500
        };

        Plotly.newPlot('percentPieGraph', data, layout);

      }
      createPieGraph();

      var data = [];
      var layout = {
        yaxis: {
          range: [0, 20],
        }
      };

      var graphDiv = Plotly.newPlot('myDiv', data);
      var getData = function(graphDiv){
        $.get( "/api/graph/", function(inData) {
          var data = [{
            x: inData.dataX,
            y: inData.dataY,
            type: 'scatter',
            mode: 'lines',
            name: 'User Counts',
            showLink: false
          }, {
            x: inData.dataX,
            y: inData.siteY,
            type: 'scatter',
            mode: 'lines',
            name: 'Livecoding.tv Total Users',
            showLink: false
          }];
          var graphDiv = document.getElementById('myDiv');
          graphDiv.data = data;
          // max Y should be toggleable between maxSiteY and maxY
          graphDiv.layout = {yaxis: { range: [0, inData.maxY * 1.1], autorange: false }};
          Plotly.redraw(graphDiv);
          $(".current_viewers").html(inData.current_count);
          $(".max_viewer_count").html(inData.maxY);
          $(".trending").html(inData.trending);
          if (inData.frontpaged) {
            $("#frontpaged")[0].innerHTML = "Congrats! You're currently on the livecoding.tv front page!";
          } else {
            $("#frontpaged")[0].innerHTML = "";
          }
          setTimeout(function(){
            getData(graphDiv);
          }, 5000);
        });
      }
      getData();
    });
  </script>
  {% endif %}
{% endblock %}
