{% extends 'dashboard.html' %}
{% load staticfiles %}

{% block content %}
  {% if request.user.userprofile.verified %}
    {% if not request.user.userprofile.is_authorized %}
        <div class="card">
          <div class="card-content">
            <div class="card-title">
              IMPORTANT NOTICE!
            </div>
            <p>LCTVA is migrating over to the Livecoding.tv API!!! So what does this mean?</p>
            <blockquote>1. This means that you can completely remove the "lctva=" token from your description.<br/>
              2. You NEED to link your LCTVA account to the Livecoding.tv API asap. This is a very easy process. Just <a href="{% url 'account_verify' %}">click this link </a> and follow the steps. <br>
              3. This notification will go away after you've verified with the Livecoding.tv API. </blockquote>
            <p class="red-text">If you see a 502 Cloudflare error when trying to integrate, it's because Livecoding.tv is having issues. Not me!!!</p>
          </div>
        </div>
      {% endif %}
      <div class="card">
        <div class="card-content">
          <div class="card-title">
            {{ request.user.userprofile.livetvusername }}
          </div>
          {% if max_viewer_count %}
            <ul class="collection">
              <li class="collection-item">
                Current Viewers: <span class="current_viewers">{{ current_node.current_total }}</span>
              </li>
              <li class="collection-item">
                Max Viewers (8 min limit): <span class="max_viewer_count">{{ max_viewer_count }}</span>
              </li>
              <li class="collection-item">
                Trending Up? <span class="trending">{{ trending }}</span>
              </li>
            </ul>
          </div>
          <div id="frontpaged" class="center"></div>
          <div class="container">
            <input type="checkbox" id="toggleTotalSiteViewers" checked="checked"/>
            <label for="toggleTotalSiteViewers">Hide Total Livecoding.tv Viewers</label>
          </div>
          <div id="myDiv"></div>

          {% else %}
            <p>You don't appear to be streaming right now. If you begin streaming, give this page a refresh
            and you should start seeing your live numbers stream in.</p>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %}
    <div class="card">
      <div class="card-content">
        <div class="card-title">
          IMPORTANT NOTICE!
        </div>
        <p>LCTVA is migrating over to the Livecoding.tv API!!! So what does this mean?</p>
        <blockquote>1. This means that you can completely remove the "lctva=" token from your description.<br/>
          2. You NEED to link your LCTVA account to the Livecoding.tv API asap. This is a very easy process. Just <a href="{% url 'account_verify' %}">click this link </a> and follow the steps. <br>
          3. This notification will go away after you've verified with the Livecoding.tv API. </blockquote>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block script %}
  {% if max_viewer_count %}
  <script src="{% static 'js/plotly-latest.min.js' %}"></script>
  <script type="application/javascript">
    $( document ).ready(function() {

      var data = [];
      var layout = {
        yaxis: {
          range: [0, 20],
        }
      };

      var graphDiv = Plotly.newPlot('myDiv', data);
      var getData = function(graphDiv){
        var hideSiteViewers = $('#toggleTotalSiteViewers').is(":checked");
        $.get( "/api/graph/", function(inData) {
          var data = [{
            x: inData.dataX,
            y: inData.dataY,
            type: 'scatter',
            mode: 'lines',
            name: 'User Counts',
            showLink: false
          }];
          // max Y should be toggleable between maxSiteY and maxY
          if (hideSiteViewers){
            var yLimit = inData.maxY;
          } else {
            var yLimit = inData.siteY;
            data.push({
              x: inData.dataX,
              y: inData.siteY,
              type: 'scatter',
              mode: 'lines',
              name: 'Livecoding.tv Total Users',
              showLink: false
            });
          }
          var graphDiv = document.getElementById('myDiv');
          graphDiv.data = data;
          graphDiv.layout = {yaxis: { range: [0, yLimit * 1.1], autorange: false }};
          Plotly.redraw(graphDiv);
          $(".current_viewers").html(inData.current_count);
          $(".max_viewer_count").html(inData.maxY);
          $(".trending").html(inData.trending);
          if (inData.frontpaged) {
            $("#frontpaged")[0].innerHTML = "Congrats! You're currently on the livecoding.tv front page!";
          } else {
            $("#frontpaged")[0].innerHTML = "";
          }
          setTimeout(function(){
            getData(graphDiv);
          }, 5000);
        });
      }
      getData();
    });
  </script>
  {% endif %}
{% endblock %}
