{% extends 'dashboard.html' %}
{% load staticfiles %}
{% load tz %}

{% block content %}
  <div class="card">
    <div class="card-content">
      <div class="card-title">
        Update Timezone
      </div>
      {% if success %}
      <div class="card default-primary-color white-text">
        <div class="card-content">
          Timezone set to {{ request.user.userprofile.tz }}
        </div>
      </div>
      {% endif %}
      <form action="" method="POST">
          {% csrf_token %}
          <label for="timezone">Time zone:</label>
          <div class="input-field">
            <select name="timezone">
                {% for tz in timezones %}
                <option value="{{ tz }}"{% if tz == request.user.userprofile.tz %} selected="selected"{% endif %}>{{ tz }}</option>
                {% endfor %}
            </select>
          </div>
          <br/>
          <button class="btn waves-effect waves-light dark-primary-color" type="submit" name="action">Set Timezone</button>
      </form>
    </div>
  </div>
{% endblock %}


{% block script %}
<script type="application/javascript">
$(document).ready(function() {
  $('select').material_select();
});
</script>
{% endblock %}
